@model Order

    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th scope="col">Product</th>
                <th scope="col">Price Per Unit</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>

            </tr>
        </thead>

        <tbody>
            @foreach (CartItem item in @Model.CartItems)
            {

                <tr>

                    <td class="align-middle"><img class="w-auto mr-5" src="@item.Product.ImageThumbnailUrl" /> <span class="font-weight-bold">@item.Product.ProductName</span></td>
                    <td class="align-middle text-center">@item.Product.Price.ToString("C", new CultureInfo("en-FR"))</td>
                    <td class="align-middle text-center">@item.Quantity</td>
                    <td class="align-middle text-center">@((item.Quantity * item.Product.Price).ToString("C", new CultureInfo("en-FR")))</td>
                </tr>
            }

        </tbody>


        <tfoot>
            <tr class="table-secondary text-center">
                <td></td>
                <td></td>
                <td class="font-weight-bold">Cart Total: </td>
                <td class="font-weight-bold">@Model.TotalOrderValue.ToString("C", new CultureInfo("en-FR"))</td>

            </tr>
        </tfoot>
    </table>


@*<table class="table">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>

        @foreach (CartItem item in Model.CartItems)
        {

            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.Quantity</td>
                <td>@((@item.Quantity * @item.Product.Price).ToString("C", new CultureInfo("en-FR")))</td>
            </tr>

        }

    </tbody>
</table>*@